<section class="animate-fade-in animate-delay-500 mt-16 mx-auto flex flex-col justify-center items-center text-center text-primary">

	<h2 class="uppercase text-5xl font-bold">
		Uwired <span aria-hidden class="hidden md:inline mx-1">|</span><br
		aria-hidden
		class="block md:hidden mx-1"
		/> redes inalambricas
	</h2>

	<h3 class="uppercase text-2xl font-semibold flex flex-col max-w-sm mt-6">
		<span> Aplicacion web para determinar el cumplimiento de estaciones transmisoras
			con la resolucion 773 de la ANE.</span>
		<span></span>
	</h3>

	<a 
		href="#aplicativo"
		class='
		border-primary border-2 font-medium uppercase text-lg
		px-4 py-1 mt-6
		hover:bg-secondary hover:scale-125
		'
		rel="noopener noreferrer"
	>

		Ir al aplicativo
	</a>

</section>
